{% extends 'app_main/base.html' %}

{% block news_page %}
{% load static %}

<section id="news_page" class="wrapper style1 fade-up">
    <div class="inner">
        <h2 id="culture-news">{{title}} News</h2>
            <div id="culture_news" style="margin: 20px 30px;">
                {% for news_item in culture_news %}
                <div class="news-item"
                     style="margin: 0 0 20px; border: 1px solid #ccc; border-radius: 10px; padding: 10px;">
                    <p><strong>{{ news_item.time }}</strong></p>
                    <p><strong>{{ news_item.culture }}</strong>: {{ news_item.news }}</p>
                    <p><a href="{{ news_item.url }}" class="button" target="_blank" rel="nofollow noopener noreferrer">Read
                        More</a></p>
                </div>
                {% empty %}
                <p>No {{title}} news available</p>
                {% endfor %}
            </div>

    </div>


    

</section>

{% endblock %}